$cWhite: white;
$cDarkWhite: rgb(214, 217, 224);
$cBlue: #17315b;
$cLightBlue: #294572;
$cRed: #fe3e57;
$cBlack: black;
$cSubTitle: #f3c1c1;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 60px;

