@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}

.btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}

.btn.shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.radius {
  width: 160px;
  height: 50px;
  -webkit-box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
}

.btn.radius_red {
  background-color: #fe3e57;
  color: white;
}

.btn.radius_blue {
  background-color: #294572;
  color: white;
}

.btn.radius:hover {
  -webkit-box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
          box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cover-3d span {
  display: inline-block;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: white;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}

.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
  color: black;
}

.btn-cubic .hovering {
  background-color: black;
  color: white;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btn-cubic .default {
  background-color: white;
  color: black;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-cubic:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.animate-title,
.tween-animate-title {
  opacity: 0;
}

.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}

.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}

.animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
}

.animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
}

.animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}

.animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
}

.animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

.animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}

.animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

.animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
}

.animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px #777;
          box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 900px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}

.popup-inner img {
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.close-btn i {
  font-size: 20px;
  color: #333;
}

.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}

.contact {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px auto;
}

.contact__direct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__formWrapper {
  margin-bottom: 60px;
}

.contact__head {
  font-weight: 500;
  font-size: 20px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
}

.contact__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 58, 119, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 58, 119, 0.5);
}

.contact__textarea {
  height: 150px;
}

.contact__textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 58, 119, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 58, 119, 0.5);
}

.contact__card {
  margin-bottom: 40px;
}

.contact__detail a {
  text-decoration: none;
}

@media (min-width: 960px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .contact__formWrapper {
    margin-right: 4rem;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .contact__detail {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.skill {
  background-color: #0d2244;
  padding: 70px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__inner {
  width: 90%;
  margin: 0 auto;
}

.skill__ttl {
  text-align: center;
}

.skill__cont {
  text-align: center;
}

.skill__btnWrapper {
  text-align: center;
}

.skill__btn {
  left: 50px;
}

@media (min-width: 960px) {
  .skill__skillBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skill__skillBox {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .skill__ttl {
    margin-bottom: 30px;
  }
}

.side {
  display: none;
  position: fixed;
  top: 105%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 2px;
  z-index: 10;
}

.side__line {
  position: relative;
  background-color: white;
  display: inline-block;
  height: 2px;
  width: 180px;
}

.side .tween-animate-title {
  text-decoration: none !important;
  margin: 0 40px;
  vertical-align: middle;
  letter-spacing: 2px;
}

.side.left {
  left: 50px;
}

.side.left .side__inner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
}

.side.right {
  right: 50px;
}

.side .side__inner {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side__icon {
  margin-left: 5px;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.side__icon:hover {
  color: #fe3e57;
}

.side__icon_facebook {
  margin-left: 15px;
}

.side__link:hover {
  color: #fe3e57;
}

.sideIcon {
  width: 50px;
  vertical-align: -90%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about {
  background-color: #0d2244;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__inner {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__img {
  height: 50vh;
}

.about__imgInner {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin: auto;
}

.about__me_ttl {
  text-align: center;
}

.about__meCont {
  font-size: 14px;
}

.about__meCont {
  color: #d6d9e0;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .about__me_ttl {
    text-align: start;
  }
  .about__concept_ttl {
    text-align: start;
  }
}

@media (min-width: 960px) {
  .about {
    min-height: 70vh;
    padding-top: 70px;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .about__img {
    margin: 0 50px 0 0;
    height: initial;
  }
  .about__imgInner {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.footer {
  background-color: #131d2c;
  position: relative;
}

.footer__goUp {
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #fe3e57;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer__goUp::before {
  content: "\f106";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  font-size: 30px;
  left: 10px;
  top: -2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__goUp:hover::before {
  color: white;
  top: -4px;
}

.footer__cont {
  padding: 40px 0 30px 0;
  margin: 0 auto;
}

.footer__icons {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.footer__icon {
  font-size: 30px;
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__icon:hover {
  color: #fe3e57;
}

.footer__line {
  background-color: rgba(255, 255, 255, 0.171);
  height: 1px;
  border: none;
}

.footer__txt {
  text-align: center;
  font-size: 4px;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer__txt_logo {
  font-size: 15px;
}

@media (min-width: 960px) {
  .footer__icons {
    width: 30%;
  }
  .footer__icon {
    width: 23px;
  }
  .footer__cont {
    padding: 60px 0 50px 0;
  }
}

.menuBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  height: 60px;
}

.menuBar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.menuBar__logo {
  font-weight: bold;
  font-size: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: left;
}

.menuBar__logo_red {
  color: #fe3e57;
}

.menuBar__logo_white {
  color: white;
}

.menuBar__headerNav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menuBar nav {
  display: none;
}

.menuBar.triggered {
  -webkit-box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  height: 50px;
  padding: 5px 0;
  background-color: #17315b;
}

@media (min-width: 960px) {
  .menuBar {
    padding-top: 5px;
  }
  .menuBar nav {
    display: block;
  }
}

.main {
  margin: auto;
  min-height: 100vh;
  padding: 120px 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__imgWrapper {
  margin-bottom: 30px;
  width: 65vw;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.main__img {
  margin: auto;
}

.main__txtWrapper {
  margin-bottom: 25px;
  text-align: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-weight: bold;
}

.main__greet {
  font-size: 20px;
}

.main__cont {
  font-size: 22px;
}

.main__aboutBtn {
  margin-right: 10px;
}

.main__txt_red {
  color: #fe3e57;
}

@media (min-width: 960px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main__imgWrapper {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 50vh;
    position: relative;
    margin-bottom: 0;
  }
  .main__img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .main__txtWrapper {
    text-align: start;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .main__cont {
    margin-bottom: 50px;
  }
  .main__greet {
    font-size: 17px;
    margin: 0;
  }
  .main__ttl {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .main {
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
  }
  .main__imgWrapper {
    height: 70vh;
  }
  .main__ttl {
    letter-spacing: -2px;
  }
}

.skillBox {
  margin: auto;
}

.skillBox__imgWrapper {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: #294572;
}

.skillBox__img {
  height: 300px;
  border-radius: 10px;
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.skillBox__img_poster {
  -o-object-fit: contain;
     object-fit: contain;
}

.skillBox__txt {
  padding: 15px 40px 5px 30px;
  background-color: #294572;
  border-radius: 0 0 20px 20px;
}

.skillBox__cont {
  font-size: 8px;
  margin-top: 3px;
}

@media (min-width: 1280px) {
  .skillBox__img {
    height: 350px;
  }
}

.card {
  border: 1.5px solid white;
  border-radius: 5px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px;
}

.card__icon {
  font-size: 30px;
  margin-right: 20px;
}

.card__cont {
  display: inline;
  margin: 0;
}

.card:hover {
  background-color: #fe3e57;
  border: 1.5px solid #fe3e57;
  color: white;
}

@media (min-width: 600px) {
  .card {
    padding: 0 110px;
  }
}

@media (min-width: 960px) {
  .card {
    padding: 0;
  }
}

.sns__ttl {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.sns__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.sns a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

.sns a:hover {
  background-color: #fe3e57;
}

.sns__icon {
  color: #17315b;
  line-height: 40px;
  width: 40px;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sns__icon:hover {
  color: white;
}

@media (min-width: 960px) {
  .sns__icons {
    margin-right: 0;
  }
  .sns__ttl {
    text-align: end;
  }
}

/*タブ切り替え全体のスタイル*/
.tab {
  margin-top: 50px;
  padding-bottom: 40px;
  max-width: 700px;
  /*タブのスタイル*/
  /*タブ切り替えの中身のスタイル*/
  /*ラジオボタンを全て消す*/
}

.tab__ttl_icon {
  margin-left: 7px;
}

.tab__item {
  width: calc(100% / 2);
  text-align: center;
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  line-height: 50px;
  font-size: 16px;
  color: #5ab4bd;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 auto;
}

.tab__item:hover {
  opacity: 0.75;
  background-color: #294572;
}

.tab__cont {
  display: none;
  clear: both;
  overflow: hidden;
  padding-top: 20px;
}

.tab__txt {
  font-size: 14px;
  color: #d6d9e0;
}

.tab input[name="tab__item"] {
  display: none;
}

/*選択されているタブのスタイルを変える*/
.tab input:checked + .tab__item {
  color: #fe3e57;
  border-bottom: 3px solid #fe3e57;
  cursor: initial;
}

.tab input:checked + .tab__item:hover {
  opacity: 1;
  background: none;
}

/*選択されているタブのコンテンツのみを表示*/
#programming:checked ~ #programming__content,
#design:checked ~ #design__content {
  display: block;
}

@media (min-width: 600px) {
  .tab__item {
    width: calc(40% / 2);
    text-align: start;
  }
  .tab__cont {
    padding: 20px 40px 0 0;
  }
}

/*タブ切り替え全体のスタイル*/
.tabProject {
  margin-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
  /*タブのスタイル*/
  /*タブ切り替えの中身のスタイル*/
  /*ラジオボタンを全て消す*/
}

.tabProject__ttl_icon {
  margin-left: 7px;
}

.tabProject__item {
  text-align: center;
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  line-height: 50px;
  font-size: 12px;
  color: #5ab4bd;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tabProject__item_all {
  width: 16%;
}

.tabProject__item_web {
  width: 11%;
}

.tabProject__item_graphic {
  width: 30%;
}

.tabProject__item_retouch {
  width: 23%;
}

.tabProject__item_visual {
  width: 20%;
}

.tabProject__item:hover {
  opacity: 0.75;
  background-color: #294572;
}

.tabProject__cont {
  display: none;
  padding-top: 30px;
  clear: both;
  overflow: hidden;
}

.tabProject input[name="tabProject__item"] {
  display: none;
}

/*選択されているタブのスタイルを変える*/
.tabProject input:checked + .tabProject__item {
  color: #fe3e57;
  border-bottom: 3px solid #fe3e57;
  cursor: initial;
}

.tabProject input:checked + .tabProject__item:hover {
  opacity: 1;
  background: none;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all__content,
#web:checked ~ #web__content,
#graphic:checked ~ #graphic__content,
#retouch:checked ~ #retouch__content,
#visual:checked ~ #visual__content {
  display: block;
}

@media (min-width: 480px) {
  .tabProject__item {
    width: calc(100% / 5);
    font-size: 13px;
  }
}

@media (min-width: 960px) {
  .tabProject {
    width: 95%;
  }
}

@media (min-width: 1600px) {
  .tabProject {
    width: 80%;
  }
}

/***************************************************************

Stylesheet: ベーススタイル スマートフォン表示

******************************************************************/
body {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  color: white;
  background-color: #17315b;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .headerNav {
  font-size: 20px;
}

.font-md {
  font-size: 23px;
}

.font-lr {
  font-size: 25px;
}

.font-lg {
  font-size: 32px;
}

.font-xl, .contact__formWrapper h2, .skill__ttl, .about__me_ttl, .main__txt_xl {
  font-size: 30px;
}

.mb-sm, .contact__phone, .contact__input, .contact__textarea, .skill__cont, .skill__skillBox, .about__img, .main__img, .main__txtInner {
  margin-bottom: 40px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .contact, .about__inner, .footer__cont, .menuBar__inner, .main {
  width: 90%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerNav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.headerNav__li {
  margin-left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.headerNav__li:nth-child(4) {
  margin-right: 20px;
}

.headerNav__li:hover {
  color: #fe3e57;
}

#container {
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

.input {
  width: 90vw;
  background-color: #294572;
  border-radius: 5px;
  font-size: 13px;
  padding: 16px;
  border: none;
  color: #d6d9e0;
}

.input::-webkit-input-placeholder {
  color: rgba(214, 217, 224, 0.5);
}

.input:-ms-input-placeholder {
  color: rgba(214, 217, 224, 0.5);
}

.input::-ms-input-placeholder {
  color: rgba(214, 217, 224, 0.5);
}

.input::placeholder {
  color: rgba(214, 217, 224, 0.5);
}

button:focus {
  outline: none;
}

.line1,
.line2 {
  width: 28px;
  height: 3px;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
  z-index: 100;
  border-radius: 20%;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: block;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  color: black;
}

.burger {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  right: 0%;
}

.nav-links {
  font-size: 3rem;
  padding-top: 100px;
  text-align: center;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0rem;
}

body.hide {
  overflow: hidden;
}

.nav-link {
  padding-bottom: 100px;
  color: black;
}

@media (min-width: 960px) {
  .burger {
    display: none;
  }
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm, .headerNav {
    font-size: 14px;
  }
  .font-md {
    font-size: 25px;
  }
  .font-lr {
    font-size: 30px;
  }
  .font-lg {
    font-size: 36px;
  }
  .font-xl, .contact__formWrapper h2, .skill__ttl, .about__me_ttl, .main__txt_xl {
    font-size: 47px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .contact, .about__inner, .footer__cont, .menuBar__inner, .main {
    width: 90%;
    margin: 0 auto;
  }
  .mobile-menu__btn {
    display: none;
  }
  .input {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .font-sm, .headerNav {
    font-size: 16px;
  }
  .font-md {
    font-size: 30px;
  }
  .font-lr {
    font-size: 35px;
  }
  .font-lg {
    font-size: 36px;
  }
  .font-xl, .contact__formWrapper h2, .skill__ttl, .about__me_ttl, .main__txt_xl {
    font-size: 50px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .contact, .about__inner, .footer__cont, .menuBar__inner, .main {
    width: 70%;
    margin: 0 auto;
  }
  .side {
    display: block;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */